<!DOCTYPE html>
<html>
  <head>
    <title></title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css"/>
  </head>
  <body class="yi">
  	<embed src="../images/l.mp3" autostart="true" loop="true" hidden="false"></embed>
  	<!--<%- include('header.ejs') %>-->
  	<h1>博客吧</h1>
  	<p>但</p>
  	<p>愿&nbsp;千</p>
  	<p>人&nbsp;里</p>
  	<p>长&nbsp;共</p>
  	<p>久&nbsp;婵</p>
  	<p>&nbsp;&nbsp;&nbsp;娟<p>
    <form action="/users/login" method="post">
    	
    	<div class="index">账号：<input type="text" style="width: 300px;" class="form-control" name="zhu"/></div>
    	<div class="index1">密码：<input type="text" style="width: 300px;" class="form-control" name="pass"/></div>
    	<input class="login1" type="submit" value="登录" class="btn btn-group">
    	<span>没有账号？赶快<a onclick="location.href='/register'">注册</a>吧！</span>
    </form>
  </body>
</html>
