<!DOCTYPE html>
<html>
  <head>
    <title></title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css"/>
  </head>
  <body class="er">
  	<embed src="../images/h.mp3" autostart="true" loop="true" hidden="false"></embed>
  	
    <form action="/users/from" method="post" class="zhuce1">
    	<div>账号：<input type="text" style="width: 300px;" class="form-control" name="zhu"/></div>
    	<div>密码：<input type="text" style="width: 300px;" class="form-control" name="pass"/></div>
    	<div>性别：<input type="text" style="width: 300px;" class="form-control" name="xing"/></div>
    	<div>手机号：<input type="text" style="width: 300px;" class="form-control" name="shou"/></div>
    	<div>邮箱地址：<input type="text" style="width: 300px;" class="form-control" name="you"/></div>
    	<input class="z-t" type="submit" value="注册提交"/ class="btn btn-group">
    </form>
  </body>
</html>
